<ul id="compositions">
  <%= session %>
  <% if session[:usertype] == "Teacher" %>
    <% @compositions.each do |c| %>
      <li><%= c.id %>, <a href="/feedback/<%= c.id %>">enter feedback</a></li>
    <% end %>
  <% else %>
    <% @compositions.each do |c| %>
      <li><%= c.id %>, <%= c.errortags.empty? ? "No feedback yet" : "<a href=\"/respond/#{c.id}\">respond to feedback </a>"%></li>
    <% end %>
  <% end %>
</ul>
