<h1>課題名：<%=@assignment.title%></h1>
<h2>課題説明</h2>
<div class="description"><%=@assignment.description%></div>
<form name="composition" action="<%=url('/student/compositions/new')%>" method="post">
 <label> <input type="text" name="assignment_id" value="<%= @assignment.id %>"> ass_id</label><br />
 <label> <textarea name="maintext"> </textarea>Write your text </label><br>
 <input type="hidden" name="student_name" value="<%= session[:studentname]%>">
 <input type="submit" value="submit your composition">
</form>
