<div class="container">
  <div class="row">
    <div class="threecol">
      <h2>課題名：<%=@assignment.title%></h2>
      <h2>課題説明</h2>
      <div class="description"><%=@assignment.description%></div>
    </div>
    <div class="eightcol last">
      <form name="composition" action="<%=url('/student/compositions/new')%>" method="post">
	<label> <input type="text" name="assignment_id" value="<%= @assignment.id %>">課題ID番号</label><br />
	<label> <textarea name="maintext" id="studenttextinput"> </textarea>作文を入力して下さい</label><br>
	<input type="hidden" name="student_name" value="<%= session[:studentname]%>">
	<input type="submit" value="作文を提出する">
      </form>
    </div>
  </div>
</div>
