<div class="container">
  <div class="row bordered">
    <div class='fourcol'>
      <p id="styledtext"><%= @composition.content %><p>
    </div>
    <div class='sevencol last'>
      <table id="errortable">
	<thead>
	  <tr><th>Nr</th><th>String</th><th>Type</th><th>Action</th><th></th></tr>
	</thead>
	<tbody></tbody>
      </table>
      <form id="responseform" action="<%=url('/student/respond')%>" method="post">
	<table id="feedbacktable">
	  <tr><th>訂正</th><th>コメント</th><th>理解</th><th>同意</th><th>回答</th></tr>
	  <tbody>
	    <% @errors.each do |e| %>
	      <tr>
		<td class="correction"><%= e.correction %></td>
		<td class="comment"><%= e.comment %></td>
		<td class="understanding"><select name="<%="#{e.id}[understanding]"%>">
		    <option value="1" label="1">Don't understand</option>
		    <option value="2" label="2">Unsure</option>
		    <option value="3" label="3">Think I understand</option>
		    <option value="4" label="4">I understand</option>
		  </select></td>
		<td class="agreement"><select name="<%="#{e.id}[agreement]"%>">
		    <option value="1" label="1">disagree</option>
		    <option value="2" label="2">slightly disagree</option>
		    <option value="3" label="3">neither disagree nor agree</option>
		    <option value="4" label="4">think I agree</option>
		    <option value="5" label="5">agree</option>
		  </select></td>
		<td class="response"><input type="text" name="<%="#{e.id}[response]"%>"></td>
	      </tr>
	      <%end%>
	  </tbody>
	</table>
	<input type="submit" value="回答を登録する">
	<form>
    </div>
  </div>
</div>
