<div class="container">
  <div class="row">
    <div class="twelvecol">
      <table>
	<thead>
	  <tr><th>学習者</th><th>type</th><th>エラー</th><th>訂正</th><th>文</th><th>課題</th></tr>
	</thead>
	<tbody>
	  <% @errortags.each do |e| %>
	    <tr><td><%=e[0]%></td><td><%=e[1]%></td><td><%=e[2]%></td><td><%=e[3]%></td><td><%=e[4]%></td><td><%=e[5]%></td></tr>
	  <% end %>
	</tbody>
      </table>
    </div>
  </div>
</div>
