<div class="container">
  <div class="row">
    <div class="sixcol">
      <div id="studenttext"><%=@composition.student.name%>のテクスト<br>
	<div id="originaltext" onMouseUp="glob.createErrorStub();"><%= @composition.content %></div>
	<div id="styledtext"><%=@composition.content%></div> 
      </div>

      
    </div>
    <div class="fivcol last">
      <div class="menu" id="errortype">Type of error<br>
	<table>
	  <tr><td id="omission" onclick="glob.addTypetoError(this.id);">omission</td></tr>
	  <tr><td  id="wordorder" onclick="glob.addTypetoError(this.id);">word order</td></tr>
	  <tr><td id="lexical" onclick="glob.addTypetoError(this.id);">lexical</td></tr>
	  <tr><td id="register" onclick="glob.addTypetoError(this.id);">register</td></tr>
	  <tr><td  id="tense" onclick="glob.addTypetoError(this.id);">tense</td></tr>
	  <tr><td id="voice" onclick="glob.addTypetoError(this.id);">voice</td></tr>
	</table>
      </div>
      <div class="menu" id="editaction">Edit action<br>
	<table>
	  <tr><td id="delete" onclick="glob.addActionToErrorStub(this.id);">delete</td></tr>
	  <tr><td id="replace" onclick="glob.addActionToErrorStub(this.id);">replace</td></tr>
	  <tr><td id="edit" onclick="glob.addActionToErrorStub(this.id);">edit</td></tr>
	  <tr><td id="move" onclick="glob.addActionToErrorStub(this.id);">move</td></tr>
	  <tr><td id="insert" onclick="glob.addActionToErrorStub(this.id);">insert</td></tr>
	  <tr><td id="mark" onclick="glob.addActionToErrorStub(this.id);">mark</td></tr>
	</table>
      </div>
      <div id="errorlist">
	<div id="currenterror">
	  Current error: none
	</div>
	<table id="errortable">
	  <thead>
	    <tr><th>Nr</th><th>String</th><th>Type</th><th>Action</th><th></th></tr>
	  </thead>
	</table></div>

    </div>
  </div>
  <div class="row">
    <div class="twelvecol last">
      <div id="feedbackarea">Teachers corrections and comments
	<div id="registerfeedback"><input type="submit" form="correctionform" value="Register feedback"></div><br>
	<form id="correctionform" name="correctionform" action="<%=url('/teacher/feedback/')%><%="#{@composition.id}"%>" method="post">
	</form>
      </div>
    </div>
  </div>
</div>
