<div class="container">
  <div class="row bordertlr">
    <div class="sixcol">
      <div id="compositioninfo">
	課題：<%=@composition.assignment.title%>，作者：<%=@composition.student.name%>，バーション：<%#バーション情報を表示すること%>
      </div>
      <div id="studenttext">
	<div id="originaltext" onMouseUp="glob.createErrorStub();"><%= @composition.content %></div>
	<div id="styledtext"><%=@composition.content%></div> 
      </div>
    </div>

    <div class="fivcol last">
      <div class="menu" id="errortype" onclick="glob.typeMenuClick(window.event.target);">エラー・タイプ<br>
	<table>
	  <tr><td id="omission" class="buttonlike">脱落</td></tr>
	  <tr><td id="wordorder" class="buttonlike">語順</td></tr>
	  <tr><td id="particle" class="buttonlike">助詞</td></tr>
	  <tr><td id="lexical" class="buttonlike">語彙選択</td></tr>
	  <tr><td id="register" class="buttonlike">レジスター</td></tr>
	  <tr><td id="conjugation" class="buttonlike">活用</td></tr>
	  <tr><td id="voice" class="buttonlike">ボイス</td></tr>
	  <tr><td id="ortography" class="buttonlike">漢字・仮名</td></tr>
	  <tr><td id="clarity" class="buttonlike">意味不明</td></tr>
	  <tr><td id="superfluous" class="buttonlike">不必要</td></tr>
	</table>
      </div>
      <div class="menu" id="editaction" onclick="glob.actionMenuClick(window.event.target);">編集行動<br>
	<table>
	  <tr><td id="delete" class="buttonlike">削除</td></tr>
	  <tr><td id="replace" class="buttonlike">置換</td></tr>
	  <tr><td id="edit" class="buttonlike">編集</td></tr>
	  <tr><td id="move" class="buttonlike">移動</td></tr>
	  <tr><td id="insert" class="buttonlike">挿入</td></tr>
	  <tr><td id="mark" class="buttonlike">マーク</td></tr>
	</table>
      </div>
      <div id="errorlist">
	<div id="currenterror">
	  分類中エラー: なし
	</div>
	<table id="errortable">
	  <thead>
	    <tr><th>Nr</th><th>String</th><th>Type</th><th>Action</th><th></th></tr>
	  </thead>
	</table></div>

    </div>
  </div>

  <div class="row borderblr">
    <div class="twelvecol last">
      <div id="feedbackarea" onKeyUp="glob.correctionformKeyUp(window.event.target);">
	<h2>訂正とコメント</h2>
	<div id="registerfeedback"><input type="submit" form="correctionform" value="フィードバックを登録"></div><br>
	<form id="correctionform" name="correctionform" action="<%=url('/teacher/feedback/')%><%="#{@composition.id}"%>" method="post"><%# フォームの内容はJSで生成される%>
	</form>
      </div>
    </div>
  </div>
</div>
