<ul>
<% compositions.each do |c| %>
  <li>課題：<%=c.assignment.id%>&nbsp; 作者: <%=c.student.name%>&nbsp;
    <span class="buttonlike" onclick="glob.toggleTextPopup(<%=c.id%>,document.body.scrollTop);">本文分を表示、非表示</span>&nbsp;
    <a href="<%=url('/teacher/feedback/')%><%=c.id%>"><%=c.errortags.empty? ? "添削する" : "添削を更新する" %></a></li>
<% end %>
</ul>
